@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or index.css */
.Toastify__toast-container {
    width: 90% !important; /* Full width on small screens */
    max-width: 350px !important; /* Limit width on larger screens */
  }
  
  @media (min-width: 768px) {
    .Toastify__toast-container {
      width: auto !important;
    }
  }
  